.bg_main{
    position: fixed;
    top: 0;
    height: 100% !important;
    width: 100% !important;
}
.logo_div{
   width: 30em;
   text-align: center;
   height: 10em;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.logo_div a{
    font-size: 3em;
    color: white;
    text-decoration: none;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.3em;
}